body {
    background-color:#F9C6FF;
    padding: 20px;
    text-align: center;
}

header {
    border-radius: 20px;
    height: 200px;
    background-color: #FFE5E5;
    display: block;
    position: relative;
    margin-top: 0;
    background-image: url(images/back1.png);
    background-repeat: no-repeat;
}

h1 {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px !important;
    color: #87487F;
    -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #F32D96;
  transform: rotate(-15deg);
}

h2{
    font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dv {
   background-color: #665C5C;
   width: 168px;
   height: 2px;
   bottom: 20px;
}

.dv2 {
    background-color: #B7A9A9;
    padding: 7px;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}
.section1, .section2, .section3 {
    font-family: "Inknut Antiqua", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15;
    text-align: left;
}

footer {
    text-align: right;
    font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15;
  color: #8F8282;
  margin-top: 20px;
  background-color: #FFE5E5;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    margin-left: auto;
}

li {
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    padding: 15px 0;
    color: #14213D;
    transition: all 0.5s ease;
    border-radius: 20px;
    padding-left: 10px;
}

li:hover {
    background-color: #847979;
    transform: translateX(10px);
    color: aliceblue;
}

li a:hover {
    color: aliceblue;
}

.animation {
    position: absolute;
    right: 9%;
    bottom: 10%;
    width: 500px;
    height: 300px;
    animation: orbit 10s infinite linear;
}

a {
    text-decoration: none;
    color: black;
}


@keyframes orbit {
    0% {
        transform: rotate(0deg) translateX(0px) rotate(360deg);
    }
    100% {
        transform: rotate(360deg) translateX(0px) rotate(-360deg);
    }
}


@media only screen and (min-width: 600px){
    .container {
        display: flex;
        padding-left: 20px;
        padding-top: 20px;
    }

    .dv3 {
        background-color: #B7A9A9;
    padding: 7px;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: 20px;

    }

    .dv2 {
        margin-top: 10px;
    }

    main {
        flex-direction: row;
        justify-content: flex-start;
        justify-content: center;
    }

    main img {
        margin-left: 350px;
        margin-top: 100px;

    }

    .animation {
        right: 10%;
        top: 12%;
    }


}

