body{
    background-color: #5F5656;
}
main{
    display: flex;
    position: relative;
}

.left{
    position: absolute;
    top: -20vh;
    left: -64vh;
    width: 1000px;
    height: 1000px;
    transform-origin: bottom center;
    animation: treeSwing 3s infinite ease-in-out;
}

.right{
    position: absolute;
    top: 10vh;
    left: 143vh;
    width: 1000px;
    height: 1000px;
    transform-origin: bottom center;
    animation: treeSwing 3s infinite ease-in-out;
}

@keyframes treeSwing {
    25% {
        transform: rotate(30deg); /* 向右倾斜 */
    }
    75% {
        transform: rotate(-30deg); /* 向左倾斜 */
    }
}

#stone {
    margin-left: 200px;
}


#pen {
    position: absolute;
    left: 34vh;
    top: 32vh;
    display: block;
    animation: swing2 2s infinite ease-in-out;
}

.write{
    position: absolute;
    left: 52vh;
    top: 54vh;
    font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 20px;
  color: white;
  animation: writecolor 1.5s infinite;


}

@keyframes writecolor {
    0% {
        color: #958883;
    }
     50%{
        color: white;
     }
    100% {
        color: #958883;
    }
}

@keyframes swing2 {
    25% {
        transform: rotate(10deg); /* 向右倾斜 */
    }
    75% {
        transform: rotate(-10deg); /* 向左倾斜 */
    }
}

h1 {
    font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  line-height: 50px;
  font-size: 64px;
  color: #E3DDDD;
}

.night{
    font-size: 90px;
    color: #232E39;
}

.vam{
    font-size: 120px;
    animation: colorCycle 3s infinite;
}

@keyframes colorCycle {
    0% {
        color: #411413;
    }
    25% {
        color: #711D2B;
    }
    50% {
        color: #0B0506;
    }
    75% {
        color: #595455;
    }
    100% {
        color: #411413;
    }
}

.divv{
    display: flex;
    position: relative;
    margin: auto;
    margin-left: 20px;
}

form {
    background-color: #3F3535;
    border-radius: 20px;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    flex: 1;
    border-color: #CBC9FF;
    border-width: 20px;
    border-style: double;
}

input {
    border-radius: 20px;
    width: 155px;
    height: 40px;
    border-color: #AE4141;
    border-width: 3px;
}

#cat {
    position: absolute;
    top: 69%;
    right: 77%;
    left: 10%;
}

#wbat {
     position: absolute;
     top: -15vh;
     right: -5vh;
     z-index: 1;
     left: auto;
     display: block;
     animation: swing 2s infinite ease-in-out;
}

#rose {
    position: absolute;
     top: -15vh;
     right: 58vh;
}

#ss {
    position: absolute;
     top: 6vh;
     right: -32vh;
     left: auto;
}

#mbat {
    position: absolute;
     top: 43vh;
     right: 55vh;
     display: block;
     animation: swing 2s infinite ease-in-out;
}

input[type="submit"] {
    background: linear-gradient(to bottom, #8d0f0f 50%, transparent 80%);
    background-size: 100% 200%;
    background-position: 0 100%;
    border-color: #B83232;
    border-width: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    width: 100px;
    height: 50px;
    animation: glowEffect 2s infinite alternate;
    transition: background-position 0.5s ease-in-out;
    color: #E3DDDD;
    font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 20px;
}

input[type="submit"]:hover {
    background-position: 0 0;
}
@keyframes glowEffect {
    0% {
        box-shadow: 0 0 20px 10px red; 
    }
    100% {
        box-shadow: 0 0 20px 10px black; 
    }
}

label {
    font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
  text-align: right;
  font-size: 12px;
  color: aliceblue;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg); 
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg); 
    }
}

.overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.madlib p {
    font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 20px;
  line-height: 30px;
  width: 500px;
}

span {
    font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 30px;
  color: #CBC9FF;
  padding: 20px;
}

