body {
    background-color: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p {
    font-size: 40px;
    margin-top: 20px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white; /* 使用白色更适合深色背景 */
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Snowman1 {
    width: 300px;
    border: 5px solid #888;
    cursor: pointer; /* 鼠标悬停时显示指针 */
    transition: transform 0.3s ease;
}

.text-container {
    text-align: center;
}

.welcome-text {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.image-small {
    width: 200px;
}

/* Overlay 样式 */
.overlay1, .overlay2, .overlay3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 1077px;
    height: 647px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8); /* 添加半透明黑色背景 */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2; /* 保证 overlay 位于前景 */
    display: none;
    border: #888;
    border-width: 10px;
    border-style: solid;
}


.overlay1 img, .overlay2 img, .overlay3 img {
    border: 8px solid #888;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.overlay1 p {
    position: absolute;
    bottom: 10px; /* 调整位置 */
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景，提升可读性 */
    padding: 5px 10px;
    border-radius: 5px;
}