body {
    background-color: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p {
    font-size: 40px;
    margin-top: 20px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    transition: transform 0.5s ease;
  transform-origin: center;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Snowman1 {
    width: 300px;
    border: 5px solid #888;
    cursor: pointer; 
    transition: transform 0.3s ease;
}

.text-container {
    text-align: center;
}

.welcome-text {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.image-small {
    width: 200px;
}

/* Overlay */
.overlay1, .overlay2, .overlay3, .overlay4, .overlay5, .overlay6, .overlay7, .overlay8 {
    position: fixed;
    width: 1077px;
    height: 647px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
    border: #888;
    border-width: 10px;
    border-style: solid;
}


.overlay1 img, .overlay2 img, .overlay3 img, .overlay4 img, .overlay5 img, .overlay6 img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.overlay1 p, .overlay2 p, .overlay3 p, .overlay4 p,.overlay5 p,.overlay6 p, .overlay7 p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    animation: scrollRotate 1s ease infinite;
}

.ssw {
    display: flex;
    top: 70vh;
    color: #1e1e1e;
}

.swww{
    font-size: 70px;
}

/* animation */

.fade-in {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
}

.visible {
    opacity: 1;
    visibility: visible;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes scrollRotate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
  }

  .scroll-rotate {
    animation: scrollRotate 2s ease-in-out forwards;
  }
